__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.env.local
*.egg-info/
streamlit_logs/
researchchart_*/

# Node
node_modules/
app_demo/node_modules/

# Next.js
app_demo/.next/
.next/

# Vercel
app_demo/.vercel/
.vercel/
